In [1]:
import pandas as pd
#import class pandas and it is renamed to pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
# dataset is Assigned to class pandas(pd) dot function name read_csv("csvfile Name.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset)

In [5]:
dataset

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes
0,19,27.900,0,16884.92400,1,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0
2,28,33.000,3,4449.46200,0,1,1,0
3,33,22.705,0,21984.47061,0,1,1,0
4,32,28.880,0,3866.85520,0,1,1,0
...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0
1334,18,31.920,0,2205.98080,1,0,1,0
1335,18,36.850,0,1629.83350,1,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0
1337,61,29.070,0,29141.36030,1,0,0,1

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_female', 'sex_male',
       'smoker_no', 'smoker_yes'],
      dtype='object')

In [7]:
independent=dataset[['age','bmi','children','sex_female','sex_male','smoker_no','smoker_yes']]
#input(YearsExperience) is assigned to variable independent
#closed Double bracket used for calling one column fromthe .csv file

In [8]:
dependent=dataset[["charges"]]
##Output(Salary) is assigned to variable dependent
#closed Double bracket used for calling one column fromthe .csv file

In [9]:
from sklearn.model_selection import train_test_split
#To reduce the memory import perticular small function(train_test_split) from library (sklearn) Class (model_selection)
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)
# X- input(independent), y- Output(dependent). separate the data set 30 percentage to Test set and remaining to Training set

In [10]:
X_train

      age     bmi  children  sex_female  sex_male  smoker_no  smoker_yes
1163   18  28.215         0           1         0          1           0
196    39  32.800         0           1         0          1           0
438    52  46.750         5           1         0          1           0
183    44  26.410         0           1         0          1           0
1298   33  27.455         2           0         1          1           0
...   ...     ...       ...         ...       ...        ...         ...
763    27  26.030         0           0         1          1           0
835    42  35.970         2           0         1          1           0
1216   40  25.080         0           0         1          1           0
559    19  35.530         0           0         1          1           0
684    33  18.500         1           1         0          1           0

[936 rows x 7 columns]

In [11]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [12]:
X_train

array([[-1.5330973 , -0.40713453, -0.89833872, ..., -0.97676557,
         0.50466988, -0.50466988],
       [-0.03364163,  0.32855417, -0.89833872, ..., -0.97676557,
         0.50466988, -0.50466988],
       [ 0.89459283,  2.56690911,  3.25603402, ..., -0.97676557,
         0.50466988, -0.50466988],
       ...,
       [ 0.03776102, -0.91016269, -0.89833872, ...,  1.02378711,
         0.50466988, -0.50466988],
       [-1.46169465,  0.76659782, -0.89833872, ...,  1.02378711,
         0.50466988, -0.50466988],
       [-0.46205754, -1.96596021, -0.06746417, ..., -0.97676557,
         0.50466988, -0.50466988]])

In [13]:
from sklearn.svm import SVR
#To reduce the memory import perticular small function(LinearRegression) from library (sklearn) ,Class (linear_model)
regressor=SVR(kernel="rbf",C=10000)
#function()assigned to variable 1 for calling the function.
regressor.fit(X_train,y_train)
# Training set of X & Y  is feed into regressor for training

C:\Users\skishor.kumar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=10000, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [14]:
y_pred=regressor.predict(X_test)
# output prediction is assigned from regressor function And change with respect to X test

In [15]:
from sklearn.metrics import r2_score
#Import function r2_score from metrics class and sklearn library
r_score=r2_score(y_test,y_pred)
# to find r2_score value from outputof Test set(y_test), predicted output (y_pred)

In [16]:
r_score
# r_score value closer to 1 ,then we know that trained model learned perfectly.

0.8774793560307003

In [17]:
import pickle
fileName="finalized_model_rbf_C10000.sav"

In [18]:
pickle.dump(regressor,open("finalized_model_rbf_C10000.sav",'wb'))
# store or saving the regressor file /fileName 
# 'wb' means write  binary values

In [19]:
loaded_model=pickle.load(open("finalized_model_rbf_C10000.sav",'rb'))
# check the function  dumped in the pickle , need to load the pickle function from filename 
# 'rb' means read binary values

In [21]:
result=loaded_model.predict([[27,26.05,0,1,0,1,0]])
# predict function () double closesed paranthasise is used for predicting the values for different inputs
result

array([18082.06502021])