In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
#import class pandas and it is renamed to pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
# dataset is Assigned to class pandas(pd) dot function name read_csv("csvfile Name.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age','bmi','children','sex_male','smoker_yes']]
#input(YearsExperience) is assigned to variable independent
#closed Double bracket used for calling one column fromthe .csv file

In [8]:
dependent=dataset[["charges"]]
##Output(Salary) is assigned to variable dependent
#closed Double bracket used for calling one column fromthe .csv file

In [9]:
from sklearn.model_selection import train_test_split
#To reduce the memory import perticular small function(train_test_split) from library (sklearn) Class (model_selection)
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.20,random_state=0)
# X- input(independent), y- Output(dependent). separate the data set 30 percentage to Test set and remaining to Training set

In [10]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
param_grid ={'criterion':['mse','mae','friedman_mse'],'n_estimators':[10,100,1000],'max_features':['auto','sqrt','log2']}
grid = GridSearchCV(RandomForestRegressor(),param_grid,refit= True,verbose=3,n_jobs=-1)
#fitting the model for grid search('squared_error','absolute_error','poisson')
grid.fit(X_train,y_train)

C:\Users\skishor.kumar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Fitting 3 folds for each of 27 candidates, totalling 81 fits

[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    2.9s
[Parallel(n_jobs=-1)]: Done  81 out of  81 | elapsed:   22.2s finished
C:\Users\skishor.kumar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:715: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100, 1000]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [11]:
#print best parameter after tuning
#print(grid.best_params_)
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'mse', 'max_features': 'log2', 'n_estimators': 1000}:

In [12]:
table=pd.DataFrame.from_dict(re)

In [22]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.026037,7.363560e-03,0.010416,7.365415e-03,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.812552,0.776481,0.772116,0.787064,0.018124,23
1,0.234348,1.325077e-06,0.015624,1.988410e-06,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.822675,0.800345,0.790025,0.804362,0.013626,16
2,2.229311,7.364516e-03,0.145822,7.369854e-03,mse,auto,1000,"{'criterion': 'mse', 'max_features': 'auto', '...",0.827871,0.805635,0.789144,0.807567,0.015866,14
3,0.020831,7.365639e-03,0.000000,0.000000e+00,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.810370,0.810856,0.768527,0.796611,0.019832,20
4,0.182271,7.363054e-03,0.015624,1.403771e-06,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.821643,0.816202,0.791622,0.809839,0.013054,12
5,1.677290,2.209445e-02,0.114573,7.362381e-03,mse,sqrt,1000,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.830484,0.819189,0.792286,0.814007,0.016016,3
6,0.031246,2.247832e-07,0.000000,0.000000e+00,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.799579,0.787736,0.770426,0.785928,0.011967,25
7,0.182272,7.365415e-03,0.018918,4.658744e-03,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.831045,0.816926,0.788929,0.812322,0.017496,6
8,1.650246,2.383035e-02,0.124987,2.209349e-02,mse,log2,1000,"{'criterion': 'mse', 'max_features': 'log2', '...",0.831303,0.818054,0.793435,0.814284,0.015684,1
9,0.140611,8.778064e-07,0.000000,0.000000e+00,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.801522,0.789479,0.776334,0.789124,0.010284,22
10,1.408762,1.473173e-02,0.015623,7.370010e-07,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.816662,0.802369,0.783346,0.800808,0.013643,18
11,14.479649,1.340512e-01,0.177065,7.364881e-02,mae,auto,1000,"{'criterion': 'mae', 'max_features': 'auto', '...",0.819118,0.801746,0.786361,0.802423,0.013378,17
12,0.091085,9.690616e-03,0.001333,1.884919e-03,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.806622,0.804201,0.781265,0.797378,0.011420,19
13,0.854679,5.410317e-02,0.010415,7.364853e-03,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.829422,0.815407,0.790725,0.811871,0.015991,8
14,8.308516,7.254945e-02,0.112105,3.850233e-03,mae,sqrt,1000,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.828657,0.815877,0.790838,0.811810,0.015702,9
15,0.088960,6.760074e-03,0.005846,8.267076e-03,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.791157,0.778598,0.775127,0.781633,0.006886,27
16,0.824912,1.105085e-02,0.015621,3.092301e-06,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.827938,0.817050,0.788132,0.811062,0.016791,11
17,8.100296,2.812166e-01,0.093739,2.209889e-02,mae,log2,1000,"{'criterion': 'mae', 'max_features': 'log2', '...",0.829332,0.818444,0.792335,0.813390,0.015518,4
18,0.026774,6.324275e-03,0.000000,0.000000e+00,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.793466,0.802589,0.758460,0.784863,0.019012,26
19,0.227692,6.339448e-03,0.005207,7.364347e-03,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.827143,0.799979,0.791142,0.806102,0.015319,15
20,2.201107,3.502290e-02,0.109364,4.899036e-07,friedman_mse,auto,1000,"{'criterion': 'friedman_mse', 'max_features': ...",0.828391,0.806088,0.789592,0.808041,0.015896,13
21,0.026040,7.364347e-03,0.005208,7.365583e-03,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.809947,0.779913,0.771250,0.787052,0.016582,24
22,0.171856,2.247832e-07,0.015623,1.655632e-06,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.828993,0.813676,0.792682,0.811802,0.014880,10
23,1.666487,7.364684e-03,0.150149,3.558217e-02,friedman_mse,sqrt,1000,"{'criterion': 'friedman_mse', 'max_features': ...",0.829837,0.816867,0.792639,0.813134,0.015411,5
24,0.031247,5.150430e-07,0.000000,0.000000e+00,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.807273,0.796204,0.783183,0.795565,0.009843,21
25,0.176183,6.118823e-03,0.015627,4.777634e-06,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.831120,0.811345,0.793156,0.811891,0.015500,7
26,1.780192,1.948402e-02,0.098947,7.367943e-03,friedman_mse,log2,1000,"{'criterion': 'friedman_mse', 'max_features': ...",0.829768,0.817793,0.794443,0.814020,0.014663,2

In [13]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:33
BMI:33
Children:3
Sex Male 0 or 1:0
Smoker Yes 0 or 1:0

In [14]:
Future_Prediction = grid.predict ([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_prediction={}".format(Future_Prediction))

Future_prediction=[6189.05896947]

In [18]:
import pickle
fileName="finalized_model_RF_regres_grid.sav"

In [20]:
pickle.dump(grid,open(fileName,'wb'))
# store or saving the regressor file /fileName 
# 'wb' means write  binary values

In [21]:
loaded_model=pickle.load(open("finalized_model_RF_regres_grid.sav",'rb'))
# check the function  dumped in the pickle , need to load the pickle function from filename 
# 'rb' means read binary values